* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* clerksy */
html,
body {
    font-family: sans-serif;
}

header {
    background-color: #163A24;

}

a {
    color: #FBFAF7;
    text-decoration: none;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.clerksy-header {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.clerksy-button {
    background-color: #198C36;
    padding: 10px 15px;
    border-radius: 160px;
    border: none;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    color: #fff;
    cursor: pointer;
}

.container {
    width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}

.clerksy-frame {
    width: 738px;
    height: 580px;
    justify-content: flex-end;
}

.list__item {
    color: #fff;
}

.navbar__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 24px;
}

.banner {
    color: #FBFAF7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner__desc {
    width: 393.33px;
    height: 200px;
    top: 111.44px;
    left: 98.34px;
    padding: 0px 13.67px 17.05px 0px;

}

.banner__desc p {
    margin: 27px 0;
}

.banner__img {
    margin-right: -100px;
}

.banner-2 {
    color: #163A24;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-text__text {
    font-family: Recoleta;
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    margin: 120px 0;
}

.text-1 {
    display: flex;
    font-family: Recoleta;
    font-size: 48px;
    flex-wrap: wrap;
}

.text-2 {
    font-family: Recoleta;
    font-size: 48px;
    flex-wrap: wrap;
    color: #163A24;
}
.banner-text {
    text-align: center;
}

.banner-icon {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.production__info {
    background-color: #163A24;
    color: #FBFAF7;
}

.clerksy-footer {
    align-items: center;
}

.production__info {
    padding-top: 60px;
    padding-bottom: 120px;
}


.production__title {
    text-align: center;
    font-family: Recoleta;
    font-size: 48px;
    flex-wrap: wrap;
}

.production__images {
    display: flex;
    justify-content: space-between;
    margin-top: 74px;
    text-align: center;
}

.img {
    margin-top: 25px;
    line-height: 30px;
}

.Employees {
    margin: auto;
    width: 786.66px;
    height: 200px;
    text-align: center;
}

.Employees p {
    margin-top: 30px;
    text-align: center;
}

.Employees-con {
    padding: 120px 0;
}

.Employees-container {
    background-color: #F2EFE6;
}

.How {
    margin-top: 150px;
    margin-bottom: 120px;
}

.Consider {
    text-align: center;
}

.Consider p {
    color: #163A24;
    margin-top: 30px;
}